body {
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    background-color: rgb(49, 49, 49)
}
header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
header a{
    color: white;
    text-align: center;
}
.Home {
    text-decoration: none;
    font-size: 20px;
}
.titlepages {
    color: white;
    text-align: center;
}