body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    margin: 0px;
    padding: 0px;
}
.background {
    background-image: url("../Images/Nav_Image/About-page-img/Backround_2.jpg");
    background-position: center;
    height: 1050px;
}
header {
     background-color: rgba(0, 0, 0, 0.699);
     margin: 0px;
     height: 150px;
     padding: 10px;
     color :white
 }

 ul {
    list-style-type: none;
}
li {
    display: inline-block;
    padding: 10px;
    padding-left: 10;

}
a {
    font-size: 25px;
    font-style: normal;
    color: white;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header .mobile {
    display: none;
}
header .logo a {
    background-image: url("../../Icon.PNG");
    background-size: 90px;
    background-repeat: no-repeat;
    position: relative;
    width: 80px;
    height: 80px;
    text-indent: -999999999px;
    display: inline-block;
    opacity: 100%;
}
/* Social Icon */
.GitIcon {
    width: 50px;
}
.InstaIcon {
    width: 50px;
}
.TwitIcon {
    width: 50px;

}
.UtubIcon {
    width: 50px;

}
.insta {
    margin-bottom: 40px;
}
.git {
    margin-bottom: 40px;
}
.tube {
    margin-bottom: 40px;
}
.twit {
    margin-bottom: 40px;
}
/* Social box */

.SocialBox {
    color: white;
    text-align: center;
}
.socialtitle {
    text-align: center;
    font-size: 45px;
    color: white;
}
/* Reponsive */
@media screen and (min-width: 630px) and (max-width: 840px) {
    .background {
        background-position: center;
    }

}
@media screen and (min-width: 476px) and (max-width: 629px) {
    header {
        padding-left: 0;
    }
    header .desktop {
        display: none;
    }
    header .mobile {
        display: inline-block;
        padding: 1px;
        font-size: 10px;
        margin-left: 0px;
    }
    .socialtitle {
        font-size: 20px;
    }
    .insta {
        font-size: 10px;
    }
    .git {
        font-size: 10px;
    }
    .tube {
        font-size: 10px;
    }
    .twit {
        font-size: 10px;
    }
        .background {
        background-position: center;
    }

}
@media screen and (min-width: 400px) and (max-width: 508px) {
    header{
        width: fit-content;
    }
    .socialtitle {
        font-size: 20px;
    }
    header .logo a {
        background-size: 60px;
        height: 60px;
        width: 400px;
        background-position-x: 120px;
    }
    header .desktop {
        display: none;
    }
    header .mobile {
        display: inline-block;
        font-size: 0px;
        padding: 0.5px;
        text-align: 110px;
        font-weight: 700;
    }
    .insta a {
        font-size: 15px;
    }
    .git a{
        font-size: 15px;
    }
    .tube a{
        font-size: 15px;
    }
    .twit a{
        font-size: 15px;
    }
    .background {
        background-position: center;
    }


}
@media screen and (min-width: 375px) and (max-width: 399px) {
    .socialtitle {
        font-size: 15px;
    }
    .background {
        background-position: center;
    }
    header {
        height: 250px;
    }
    header .desktop {
        display: none;
    }
    header .mobile {
        display: inline-block;
        padding: 20px;
        margin-left: 20px;
    }

    header .logo a {
        background-size: 90px;
        height: 100px;
        width: 300px;
        background-position-x: 85px;
    }
    .insta a {
        font-size: 15px;
    }
    .git a{
        font-size: 15px;
    }
    .tube a{
        font-size: 15px;
    }
    .twit a{
        font-size: 15px;
    }
    .background {
        background-position: center;
    }
}
@media screen and (min-width: 320px) and (max-width: 374px){
    .socialtitle{
        font-size: 25px;
        text-align: center;
        margin-left: 10px;
    }
    header {
        height: 300px;
        width: fit-content;
    }
    header .desktop {
        display: none;
    }
    header .mobile {
        display: inline-block;
        padding: 20px;
        margin-left: 10px;
    }
    header .logo a {
        background-size: 90px;
        height: 100px;
        width: 300px;
        background-position-x: 56px;
    }
    .SocialBox{
        margin-left: 20px;
    }
    .insta a {
        font-size: 15px;
    }
    .git a{
        font-size: 15px;
    }
    .tube a{
        font-size: 15px;
    }
    .twit a{
        font-size: 15px;
    }
    .background {
        background-position: center;
    }
}
